<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
       <!-- <add name="Xrm" connectionString="Server=https://education.crm2016.uds.systems/; Username=UDS\v.dudka; Password=UDS\v.dudka"/>
      -->
    <add name="Xrm" connectionString="Server=https://education.crm2016.uds.systems/; Username=UDS\s.gurin; Password=SGuds3179; SkipDiscovery=false"/>
  </connectionStrings>
</configuration>